<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2123</key>
	<string>南京</string>
	<key>21324</key>
	<string>上海</string>
	<key>23432</key>
	<string>北京</string>
</dict>
</plist>
